.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.loaderDark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.bar {
  display: inline-block;
  width: 5px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up 1s linear infinite;
}
.bar:nth-child(2) {
  animation-delay: 0.25s;
  height: 40px;
  margin: 0 5px;
}
.bar:nth-child(3) {
  animation-delay: 0.5s;
}
.barDark {
  display: inline-block;
  width: 5px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  animation: scale-up-black 1s linear infinite;
}
.barDark:nth-child(2) {
  animation-delay: 0.25s;
  height: 40px;
  margin: 0 5px;
}
.barDark:nth-child(3) {
  animation-delay: 0.5s;
}
@keyframes scale-up-black {
  from {
    background-color: #000;
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale-up {
  from {
    background-color: #fff;
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
