.stripeContainer {
  min-width: 360px;
  width: 100%;
  max-width: 720px;
  min-height: 70vh;
  border-radius: 2%;
  background-color: var(--white-color);
  padding: 2rem;
}
.icon {
  font-size: 2rem;
  color: #212529;
  transition: 03ms ease all;
}

.icon:hover {
  color: #000000;
}
.buttonicon {
  display: block;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
