.stripeContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 360px;
  width: 100%;
  max-width: 720px;
  min-height: 70vh;
  border-radius: 2%;
  background-color: var(--white-color);
  padding: 2rem;
}
