/* .HomeContainer{
    display: flex;
    flex-direction: row;

} */

/* .container {
  display: flex;
  width: 100%;
  max-height: 100vh;
  background: black;
} */

.RoomCardsContainer {
  margin-top: 3.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  display: grid;
  place-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  min-height: 100vh;
}

