/* .HomeContainer{
    display: flex;
    flex-direction: row;

} */

/* .container {
  display: flex;
  width: 100%;
  max-height: 100vh;
  background: black;
} */

.RoomCardsContainer {
  margin: 1rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  display: grid;
  place-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  min-height: 100vh;
}
