/* .HomeContainer{
    display: flex;
    flex-direction: row;

} */

/* .container {
  display: flex;
  width: 100%;
  max-height: 100vh;
  background: black;
} */
.header {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title {
  color: var(--dark-color);
  font-size: 2.5rem;
}
.text {
  max-width: 70%;
}
.relative {
  padding-top: 3.5rem;
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.RoomCardsContainer {
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  color: var(--white-color);
  display: grid;
  place-items: center;
  grid-gap: 2rem;
  background: var(--body-bg-color);
  padding: 2rem;
  border-radius: 15px;
  z-index: 3;
}
.parallax {
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--section-bg-color);
  height: 400px;
  width: 100%;
  top: 0;
  right: 0;
}
.parallax::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
.parallax::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to bottom,
    transparent 70%,
    var(--section-bg-color) 100%
  );
  z-index: 2;
}
@media (max-width: 1010px) {
  .relative {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (max-width: 945px) {
  .relative {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .title {
    font-size: 2rem;
  }
}
@media (max-width: 720px) {
  .title {
    font-size: 1.7rem;
  }
  .text {
    max-width: 85%;
  }
}
@media (max-width: 560px) {
  .title {
    font-size: 1.2rem;
  }
}
@media (max-width: 456px) {
  .relative {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@media (max-width: 425px) {
  .RoomCardsContainer {
    padding: 0;
    row-gap: 0.5rem;
  }
}
