.container {
  display: grid;
  color: var(--dark-color);
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  grid-gap: 1rem;
  height: fit-content;
  font-size: 14px;
  position: relative;
  z-index: 10;
}
.calendar {
  margin-top: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.data {
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
  appearance: none;
  border: none;
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
}

.butoncito {
  border: unset;
  padding: 0.4rem;
  background: #0085ff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s ease all;
}

.butoncito:hover {
  background: #0051ff;
}

/* .form {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  row-gap: 2rem;
  padding: 2rem;
  padding-top: 4rem;
  justify-content: space-between;
  color: var(--dark-color);
} */
