.RoomCardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    /* background-color: rgba(255, 253, 253, 0.5); */
    background-color: rgb(255, 113, 24);
    /* margin-top: 15px; */
    margin: 25px;
    width: fit-content;
}

.RoomCardDescription{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
}

.RoomCardText{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 15px;
    background-color:white;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
}

.RoomCardImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 25px;
}