.RoomCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  width: 100%;
  height: fit-content;
  background: rgb(152, 143, 134);
  overflow: hidden;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .RoomCardContainer {
    background: rgba(152, 143, 134, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
.title {
  font-size: 1.2rem;
}
.price {
  color: var(--dark-color);
  font-weight: bold;
}

.textPlus {
  color: #188451;
}
.textDash {
  color: #bb2d3b;
}
.RoomCardText {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.details {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.flexButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.addToCart {
  display: flex;
  column-gap: 1rem;
}
.RoomCardProp {
  display: flex;
  justify-content: space-between;
}
.RoomCardFlex {
  display: flex;
  column-gap: 1rem;
  top: 5%;
  right: 5%;
}
.RoomCardImg {
  width: 100%;
  max-height: 200px;
  cursor: pointer;
  position: relative;
  display: block;
}

.RoomCardImg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: ease 03ms;
}
.RoomCardImg::before {
  content: 'View details';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border: 1px solid #fff;
  text-transform: uppercase;
  opacity: 0;
  transition: ease 03ms;
  z-index: 999;
}
.RoomCardContainer:hover .RoomCardImg::after,
.RoomCardContainer:hover .RoomCardImg::before {
  opacity: 1;
}
.spanDescription {
  font-size: 1.5rem;
  color: var(--white-color);
}

/* .RoomCardDescription{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
} */
