.RoomCardContainer{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 253, 253, 0.5);
    margin-top: 15px;
}

.RoomCardImages{
    display: flex;
    flex-direction: column;
}

.RoomCardText{
    display: flex;
    flex-direction: column;
}

.RoomCardImg{
    width: 150px;
    height: 120px;
    border-radius: 10px;

}