.header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 6em;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
}
.sticky {
  height: 3.5rem;
  background: rgba(100, 100, 100, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: 03ms ease;
}
.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12rem;
  transition: 0.3s ease;
  width: 100%;
}
.nav_flex,
.nav_items {
  display: flex;
  column-gap: 45px;
  align-items: center;
}
.nav_link,
.bag {
  color: var(--white-color);
  font-size: 1rem;
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
}

.total_cart {
  position: absolute;
  color: var(--white-color);
  top: -30%;
  font-size: 0.8rem;
  font-style: normal;
}
.bag {
  font-size: 1.2em;
}
.nav_link i {
  display: none;
}
.nav_logo {
  fill: var(--white-color);
  background: transparent;
  width: 2em;
}
.nav-menu-btn,
.nav-close-btn {
  display: none;
}

.iconCart {
  color: white;
  font-size: 1.8em;
  margin-bottom: 3%;
  cursor: pointer;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .sticky {
    background: rgba(100, 100, 100, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}
@media screen and (max-width: 1100px) {
  .nav {
    padding: 0 50px;
  }
}
@media screen and (max-width: 785px) {
  .nav {
    padding: 25px 20px;
  }
  .bag {
    font-size: 1.5rem;
  }
  .nav-menu-btn {
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer;
  }
  .nav-close-btn {
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }
  .navigation.active {
    visibility: visible;
    opacity: 1;
  }
  .nav_items {
    position: relative;
    background: var(--white-color);
    min-width: 360px;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    row-gap: 1rem;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }
  .navigation.active .nav-items {
    transform: translateY(0);
  }
  .nav_link {
    text-align: left;
    padding: 0.5rem;
    color: var(--dark-color);
    font-size: 1em;
    transition: 0.3s ease;
    width: 100%;
  }
  .nav_link:hover {
    color: var(--navigation-item-hover-color);
  }
  .nav_link > i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 1rem;
  }
}
