.container {
  width: 100%;
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: space-around;
}
.contact_link {
  cursor: pointer;
  color: var(--dark-color);
  display: block;
}
.info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.title {
  font-size: 2rem;
  color: var(--dark-color);
}
.titleStrong {
  font-weight: bold;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-weight: lighter;
}
.city {
  font-size: 1.2rem;
  color: var(--dark-color);
  letter-spacing: 0.2rem;
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
.socialContainer {
  display: flex;
  column-gap: 1rem;
}
.link {
  color: #888888;
  font-size: 1.4rem;
}
.link:hover {
  color: var(--dark-color);
}
.formulario {
  min-width: 600px;
  margin-top: 50px;
  background: rgb(255, 255, 255);
  padding: 20px;
}
.nav_logo {
  width: 2rem;
}
.formulario > div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input,
.formulario textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input:focus {
  outline: none;
  border: 2px solid #0085ff;
}

.error {
  color: #e92b2d;
  font-weight: 600;
  font-size: 12px;
}

.formulario button[type='submit'] {
  display: block;
  background: #0085ff;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
}

/* .formulario button[type='submit']:disabled {
  display: block;
  background: #ff0303;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
} */

.formulario button[type='submit']:hover {
  background: #0051ff;
}

.formulario .exito {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: #02a802;
}

.formulario input[type='radio'] {
  width: auto;
}

.logo {
  text-align: center;
}

.buttonicon {
  display: block;
  margin-bottom: 10px;
  font-size: 40px;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.captcha {
  display: flex;
  justify-content: center;
}
