.roomDetailsContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  background-color: white;
  width: 1000px;
  overflow: hidden;
  border-radius: 10px;
}

.roomDetailsText {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.roomDetailsImages {
  display: flex;
  flex-direction: column;
  border: 2px;
  width: 250px;
  height: auto;
}
