.container {
  min-height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  margin-left: 360px;
  margin-bottom: 10px;
}

.mapa {
  height: 150px;
  width: 400px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px;
}

.title {
  font-size: 23px;
  margin-left: 44px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.bi-whatsapp {
  color: rgb(87, 187, 41);
  margin: 40px;
}

.bi-instagram {
  color: rgb(175, 41, 187);
  margin: 40px;
}

.bi-facebook {
  color: rgb(46, 38, 160);
  margin: 40px;
}

.bi-geo-alt-fill {
  color: rgb(228, 80, 21);
  margin: 40px;
}

.bi-twitter {
  color: rgb(20, 182, 236);
  margin: 40px;
}
