.footer {
  z-index: 777;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.link {
  position: relative;
  background-color: var(--white-color);
  background-clip: text;
  color: transparent;
  overflow: hidden;
  transition: 03ms ease;
}
.link:hover {
  background-color: var(--dark-color);
  color: transparent;
  background-clip: text;
  transition: 03ms ease;
}
