.container {
  min-height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
}

.mapa {
  height: 300px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  margin: 20px;
}

.title {
  font-size: 30px;
}

.icons {
  font-size: 100px;
  margin: 50px;
}

a {
  text-decoration: none;
}

.bi-whatsapp {
  color: rgb(87, 187, 41);
  margin: 40px;
}

.bi-instagram {
  color: rgb(175, 41, 187);
  margin: 40px;
}

.bi-facebook {
  color: rgb(39, 27, 206);
  margin: 40px;
}
