.container {
  display: flex;
  width: fit-content;
  background-color: black;
  position: relative;
  /* left: 84%; */
}

.img {
  display: flex;
  position: relative;
  width: 100px;
  height: 90px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
}

.button {
  padding: 5px;
}
