*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #eee7e7;
}
a {
  text-decoration: none;
}

.bi-whatsapp {
  color: rgb(87, 187, 41);
  margin: 40px;
}

.bi-instagram {
  color: rgb(175, 41, 187);
  margin: 40px;
}

.bi-facebook {
  color: rgb(46, 38, 160);
  margin: 40px;
}

.bi-geo-alt-fill {
  color: rgb(228, 80, 21);
  margin: 40px;
}

.bi-twitter {
  color: rgb(20, 182, 236);
  margin: 40px;
}
