.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 1rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ============== Background Slider ============== */
.bg-slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.bg-slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
}
.bg-slider .swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}
.swiper-slide .text-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  top: 25%;
  color: var(--white-color);
  margin: 0 200px;
  transition: 0.3 ease;
}
.swiper-slide .text-content .title {
  font-size: 4em;
  font-weight: bold;
  text-shadow: var(--text-shadow);
  transform: translateY(-50px);
  opacity: 0;
}
.swiper-slide-active .text-content .title {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}
.swiper-slide .text-content .title span {
  font-size: 0.3em;
  font-weight: 300;
}
.swiper-slide .text-content p {
  max-width: 800px;
  background: rgba(200, 200, 200, 0.2);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0;
}

.swiper-slide-active .text-content p {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}
.swiper-slide .button {
  border: none;
  outline: none;
  background: var(--white-color);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: bold;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  transform: translateX(50px);
  opacity: 0;
}
.swiper-slide .button i {
  font-size: 1em;
  transition: 0.3s ease;
}
.swiper-slide .button:hover i {
  transform: translateX(5px);
}
.swiper-slide-active .button {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}
.bg-slider-thumbs {
  position: absolute;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
  width: fit-content;
  height: fit-content;
}
.bg-slider-thumbs .swiper-wrapper {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}
.bg-slider-thumbs .swiper-wrapper .swiper-slide {
  width: 50px;
  height: 35px;
  margin: 0 5px;
  cursor: pointer;
}
.swiper-slide-thumb-active {
  border: 1px solid var(--white-color);
}
@supports ((-webkit-backdrop-filter: none;) or (backdrop-filter: none)) {
  .swiper-slide .text-content p {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }
  .bg-slider-thumbs .swiper-wrapper {
    backdrop-filter: blur(10px);
  }
}
@media screen and (max-width: 1100px) {
  .swiper-slide .text-content {
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }
}
@media screen and (max-width: 785px) {
  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title {
    font-size: 3em;
  }

  .swiper-slide .text-content .title span {
    font-size: 0.35em;
  }

  .swiper-slide .text-content p {
    font-size: 0.9em;
  }
  .swiper-slide .text-content .button {
    font-size: 0.9em;
    padding: 5px 15px;
  }
}
